.cities-form-page {
  position: absolute;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
	top: 50%;
	transform: translateY(-50%);
  z-index: 100;
}

.cities-form-widget {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 20px;
  width: 300px;
  top: 0;
  border: 10px solid $color-light;
  border-radius: 30px;
  font-family: $font-text;
  text-align: center;
  z-index: 99;
}

.select-cities {
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
}

#input-city {
  padding: 5px;
  width: 100%;
  outline: none;
  font-size: 15px;
  text-align: center;
  color: $color-light;
  border: 2px solid $color-light;
  background-color: inherit;
  &::placeholder {
    color: $color-dark;
  }
  &:hover {
    border-color: $color-dark;
    cursor: pointer;
  }
}

.select-cities button {
  width: 100%;
  border: 2px solid $color-light;
  background-color: inherit;
  color: $color-light;
  text-decoration: none;
  &:hover {
    background-color: $color-light;
    border-color: $color-dark;
    font-weight: 600;
    color: $color-dark;
    cursor: pointer;
  }
}

.add-city-button  {
  padding: 7px 0;
}

.show-charts-button {
  padding: 7px 0;
}

.multiselect {
  display: block;
}

.select-box {
  position: relative;
  padding: 7px 0;
  border: 2px solid $color-light;
  font-size: 15px;
  color: $color-light;
  &:hover {
    background-color: $color-light;
    border-color: $color-dark;
    font-weight: 600;
    color: $color-dark;
    cursor: pointer;
  }
}

.over-select {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 2px solid $color-light;
  //border-top: 1px solid transparent;
  overflow-y: scroll;
  max-height: 100px;
}

#checkboxes label {
  display: block;
  padding: 5px;
  text-align: start;
  font-size: 15px;
  color: $color-light;
}

#checkboxes input {
  margin: 0 5px 0 0;
  width: 25px;
}

#checkboxes #city-label {
  display: none;
}

#checkboxes label:hover {
  background-color: $color-light;
  color: $color-dark;
}

// .take-value-button {
//   width: 100%;
// }