.local-weather-page {
  position: absolute;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
	top: 50%;
	transform: translateY(-50%);
  z-index: 100;
  border: 5px solid brown;
}

.local-weather-widget {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 10px 30px 30px;
  top: 0;
  border: 10px solid $color-light;
  border-radius: 30px;
  font-family: $font-text;
  color: $color-light;
}

.geotime-params {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 3px solid $color-light;
  font-size: 18px;
  line-height: 1;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  .main-params {
    display: block;
  }
  .extra-params {
    display: block;
    margin-left: 40px;
    width: 220px;
    p {
      display: inline-block;
      margin: 0;
      font-size: 20px;
      line-height: 2;
      font-weight: 600;
    }
    h3 {
      display: inline-block;
      margin: 0;
      font-size: 20px;
      line-height: 2;
    }
  }
}

.weather-icon {
  font-size: 100px;
}

.temperature-value p {
  margin: 0;
  font-size: 50px;
  line-height: 1;
}

.weather-wrapper {
  display: block;
}

.notification {
  display: none;
  padding: 15px 0 0;
  font-size: 20px;
}

.display-notification {
  display: block;
}

.hide-weather {
  display:none;
}

//MEDIA
@media (max-width: 576px) {
  .local-weather-widget {
    margin-top: 30px;
    padding: 10px 20px 30px;
  }
  .geotime-params {
    flex-direction: column;
    margin-top: 10px;
    .location, .current-time {
      line-height: 0;
    }
  }
  .row {
    flex-direction: column;
    justify-content: center;
    .main-params {
      display: block;
      margin: 0 auto;
    }
    .extra-params {
      margin-top: 25px;
      margin-left: 0;
      border-top: 3px solid $color-light;
    }
  }
}