$color-one: #fad390;
$color-two: #f6b93b;
$color-three: #fa983a;
$color-dark: #717171;;
$color-light: lightgray;

$font-text: 'Cairo', sans-serif;
$font-header: 'Reggae One', cursive;

$transition: all 0.5s;